	<%content_for :left_column_top do%>
		
		<%=button_to 'Add subscription', new_feed_path, {:method=>:get, :remote=>true} %>

	<%end%>

	<div id="top_row_content">
	</div>

	<div id="entriesCount">
		<h1>You have <%=@entries.count%> items</h1>
	</div>

	<!--<%=button_to "Send to kindle", {:controller=>'publish', :action=>'create'}%>-->

	<div id="feed_entry">
		<%= render :partial=> "entry", :collection => @entries%>	
	</div>




