$("top_row_content").update("<a href='#'><%= escape_javascript(image_tag "close-gray.jpeg", :size=>"16x16", :alt=>"close", :mouseover=>"close.jpeg")%></a><div style='margin-left: 15pt; margin-top: -10pt;'><%= escape_javascript(render(@feed)) %></div>");  

		  
