html, body{
  font-family: Verdana, Helvetica, Arial;
  font-size: 13px;
  height: 100%;
}

html {

  	background-image: url(../images/bg-clouds.png);
	background-repeat: no-repeat;	
	background-position: center -56px;


}

h1 {
        font:  150% sans-serif;
        color: #226;
        border-bottom: 3px dotted #77d;
}


h3 {
	color: #226;
 	margin-bottom: 5px;
}

a img {
  border: none;
}

a {
  color: #0000FF;
  font-size: 13px;
}

span {
	font-weight: bold;
}

#container {
  width: 75%;
  margin: 0 auto;
  padding: 20px 40px;
  border: solid 1px black;
  margin-top: 20px;
  min-height: 100%; 

}

#flash_notice, #flash_error, #flash_alert {
  padding: 5px 8px;
  margin-bottom: 10px;
  width: 320px;

}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error, #flash_alert {
  background-color: #FCC;
  border: solid 1px #C66;
}

.item_info {
	font-size:    small;
	margin-bottom: 5px
	font-weight: bold;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

.fieldWithErrors {
  display: inline;
}

#user_nav {
  float: right;
  margin-bottom: 10px;
  text-align: right;
}

.error_messages {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  font-size: 12px;
}

.error_messages h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

.error_messages p {
  margin: 8px 10px;
}

.error_messages ul {
  margin: 0;
}

#banner {
	
	padding-left: 5px;
	padding-top: 20px;
	padding-bottom: 25px;
	border-bottom: 2px solid;
	font: small-caps 40px/40px "Times New Roman", serif;
	text-align: left;
	float: top;
}

#user_info {
	float: right;
 	clear: both;
}

#top_row {
	padding-top: 1em;
}

#columns {
		padding-top: 1ex;
		padding-left: 1em;
		padding-bottom: 1em;
}

	#columns #left_column {
		width: 16em;
		padding-top: 2ex;
		background-color: green;
	}

		#columns #left_column a {
			color: #bfb;
			font-size: small;
		}

	#columns #main_column {
		background: white;
		padding: 2ex 5ex
	}


.description {
	color:        #244;
	font-weight:  bold;
	font-size:    larger;
}


.authentications {
  margin-bottom: 30px;
}

.authentication {
  float: left;
  background-color: #EEE;
  border: solid 1px #999;
  padding: 5px 10px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  position: relative;
  margin-right: 10px;
}

.authentication .remove {
  text-decoration: none;
  position: absolute;
  top: 3px;
  right: 3px;
  color: #333;
  padding: 2px 4px;
  font-size: 10px;
}

.authentication .remove:hover {
  color: #FFF;
  background-color: #777;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
}

.authentication img {
  float: left;
}

.authentication .provider, .authentication .uid {
  margin-left: 38px;
  margin-right: 20px;
}

.authentication .provider {
  font-weight: bold;
}

.authentication .uid {
  color: #666;
  font-size: 11px;
}

.auth_provider img {
  display: block;
}

.auth_provider {
  float: left;
  text-decoration: none;
  margin-right: 20px;
  text-align: center;
  margin-bottom: 10px;
}
