<%content_for :left_column_top do%>
	
	<!--<%=button_to 'Add subscription', new_user_subscription_path(current_user,current_user.subscriptions), {:method=>:get, :remote=>true} %>-->
	<%=link_to '<< Back to home', user_subscriptions_path(current_user,current_user.subscriptions)%>
<%end%>

<div id="top_row_content">
	<% if @subcriptions.count == 0%>
		You currently don't have any subsrciption.
	<%else%>
		<h2>Manage your subscritions</h2>
	<%end%>
</div>

<table>

		<%=render :partial=>"management", :collection=>@subcriptions%>

</table>
