<div>
	<h2>Welcome to KindleHog!</h2>
<div/>

<div>
	<p>
		With Kindle Hog, you can subscribe to your favourate RSS/ATOM blogs and send to your kindle at scheduled time. It just satisfies your apertize for knowledge.
	</p>

<div>


