<tb>
  <tr>
      <td>Send_to:</td>
      <td>setting.send_to</td>
  </tr>
  <tr>
      <td>next_send:</td>
      <td>schedualed_send</td>
  </tr>
  <tr>
      <td>News after:</td>
      <td>items_after</td>
  </tr>
<tb>
