<h>Settings</h>
<div id="top_row_content">
		<% if @settings.count == 0%>
			You currently don't have any settings.
		<%end%>
	</div>


	<div id="settingsCount">
	
	</div>	
	<div id="settings_list">
	  <% if @settings.count > 0%>
			<%= render :partial=> "setting", :collection => @settings%>		
		<% end %>
	</div>

