
<div id="top_row_content">
		<% if @settings.count == 0%>
		<P>
			<h2>You currently don't have any setting</h2>
			</P>
		<%end%>
	</div>
<%content_for :left_column_top do%>

	<%=link_to '<< Back to home', user_subscriptions_path(current_user,current_user.subscriptions)%>
<%end%>

	<div id="settingsCount">
	
	</div>	
	<div id="settings_list">
	  <% if @settings.count > 0%>
	    <ul>
			<%= render :partial=> "setting", :collection => @settings%>		
			<ul>
		<% end %>
		<%if @settings.count == 0%>
		  <%= render :partial=>"settingform"%>
		<% end %>
	</div>

